# =====================
# Credenciales
# =====================
credentials/
*.env

# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================
# Entornos virtuales
# =====================
.venv/
venv/
env/

# =====================
# Poetry
# =====================
# (poetry.lock SÍ se versiona)
# .cache de poetry no debe ir al repo
.poetry/
.cache/pypoetry/

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/
*.nbconvert.ipynb

# =====================
# Datos
# =====================
data/raw/
tmp/*


# =====================
# Reportes y outputs
# =====================
reports/figuras/
outputs/
results/

# =====================
# Logs
# =====================
*.log

# =====================
# IDE / Editors
# =====================
.kade/
.idea/
*.swp
*.swo
*.kate-swp
*.~lock*

# =====================
# Sistema operativo
# =====================
.DS_Store
Thumbs.db
